.box{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    height: 600px;
    width: 400px; 
    background-color: rgb(244, 239, 231);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    min-height: 100vh;
    min-width: 100vw;
    /* background-color: rgb(251 212 116); */
    /* background-color: rgb(152 218 243); */
    background-color: rgb(158 203 221);
    background-color: rgb(145 197 217);
}

.box h5{
    margin: 10px;
}

.image{
    height: 300px;
    width: 400px;
}