body {
    /* margin-top: 70px; */
    /* background-color: #b3d6f0; */
    background-color: white;
    color: rgb(17, 16, 16);
    font-size: 30px;

  }
  
  .landing {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
  }
  
  .title {
    color: rgb(246, 242, 242);
    font-size: 1em;
  }
  
  .landingText {
    margin-top: 900px;
    color: #2a2825;
  }