.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    min-height: 120vh;
    min-width: 100vw;
    background: url('https://i.imgur.com/hk8J8Am.jpg')no-repeat center center / cover ;
}

.input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 15.5em;
    height: 1.7em;
    margin-bottom: 1.1rem;
    font-size: 1.3rem;
    border-radius: 0.3rem;
    border: .01rem solid black;
}

.formBox{
    padding-bottom: 30px;
    position: relative;
    top: 10px;
  }

.box{
    background-color: white;  
    height: 725px;
    width: 485px;
    position: relative;
    left: -50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .4rem;
    box-shadow: 1px 2px 8px 2px #7e7d7d;
}

.box h5{
    font-size: 30px;
    position: relative;
    left: -95px;
    top: -8px;
}

.save{
    height: 2.8em;
    width: 21.4em;
    position: relative;
    left: 3px;
    background-color: rgb(166, 211, 228);
    border: none;
    border-radius: .4rem;
    box-shadow: 1px 1px 1px 1px #c5c3c3;
    font-size: 15px;
    font-weight: 600;
    left: -.3px;
  
}

.save:hover{
    color: white;
}

.addPhoto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 15.5em;
    height: 1.4em;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    border-radius: 0.3rem;
    border: .3px solid black;
}

.select{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 15.5em;
    height: 1.75em;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    border-radius: 0.3rem;
} 

@media (max-width: 767px) {
   .box{
     width: 380px;
     height: 700px;
     position: relative;
     left: -40px;
   }
   .formBox{
    position: relative;
    top: 20px;
   }

}


@media (min-width: 768px) and (max-width: 991px) {


}


@media (min-width: 992px) and (max-width: 1200px) {
  

}