.container {
    /* z-index: 1000;*/
    height: 70px;
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    align-items: center;
    box-shadow: 1px 2px 8px 2px #d6d3d3;
    
  }
  
  .navUl {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 25px;
    gap: 28px;
    font-size: .5em;
  }
  
  .navLink {
    text-decoration: none;
    font-size: 20px;
    color: #030303;
    font-weight: 500;  
  }
  
  .navUl > li {
    list-style: none;
  } 
  
  .navLink:hover {
    color: rgb(108, 185, 215);
  }

  .image{
    width: 240px;
  }


@media (max-width: 767px) {
  .navLink {
    font-size: 16px;
  }
  .navUl {
     position: relative;
     left: -30px;
     margin: 25px 0;
     gap: 15px;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  /* .navLink {
    font-size: 18px;
  } */
  /* .navUl {
     position: relative;
     left: -20px;
     margin: 25px 0;
     gap: 15px;
  } */

}
