.container {
    /* background: #a2cced; */
    /* background: #92c2ea; */
    /* background: #76bfdb; */
    /* top: 0;  */
    /* z-index: 1000;
    width: 100%;
    top: 0; */
    height: 70px;
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    align-items: center;
  }

  /* .landingNavLink{
    text-decoration: none;
    font-size: 20px;
    color: #1f1f21;
    font-weight: 500;  
  } */

  /* .landingNav {
    background: white;
    top: 0; 
    z-index: 1000;
    width: 100%; 
    top: 0;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    align-items: center;
  }  */
  
  .navUl {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 25px;
    gap: 20px;
    font-size: .5em;
  }
  
  .navLink {
    text-decoration: none;
    font-size: 20px;
    color: #7272ac;
    font-weight: 500;  
  }
  
  .navUl > li {
    list-style: none;
  } 
  
  .navLink:hover {
    color: #5c95d7;
  }

  .image{
    width: 240px;
  }