.footer{
     /* background-color: rgb(152 218 243);
     background-color: rgb(176, 217, 233); */
    background-color: rgb(251, 251, 251);
    padding-bottom: 7px;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 29px;
    padding-right: 28px;
    box-shadow: 1px 2px 8px 2px #ddd9d9

}
/* 
hr{
    margin: 0;
    border: none;
    height: .4px;
    width: 100%;
    background-color: rgb(201, 198, 198);
} */

.contact{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.footer p{
    font-size: 18px;
    padding: 0 10px;
    position: relative;
    top: 10px;
}

.contact p:hover{
    color: rgb(81, 181, 220);
}

.tag{
    padding: 0 5px;
    color: black;
    text-decoration: none;
}

@media (max-width: 767px) {
  .footer{
    display: none;
  }
}
